<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .home {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            padding: 10vw 15vw;
        }

        .home div {
            background-color: rgb(245, 245, 245);
            color: rgb(116, 5, 5);
            font-size: larger;
            padding: 30px;
            text-align: center;
            border-radius: 12px;
            border-right-style: solid;
            border-color: red;
        }
    </style>
</head>

<body>
    <div class="home">

        <div>
            <p>TotalConfirmed: <%=items.TotalConfirmed%>
            </p>
        </div>
        <div>
            <p>TotalDeaths: <%=items.TotalDeaths%>
            </p>
        </div>
        <div>
            <p>TotalRecovered: <%=items.TotalRecovered%>
            </p>
        </div>
    </div>

    <form action="/addCountry" method="POST">
        <input type="text" name="Country" placeholder="countryName">
        <input type="date" id="birthday" name="Date" placeholder="dd/mm/yyyy">
        <input type="date" id="birthday" name="Date" placeholder="dd/mm/yyyy">
        <input type="submit" value="Search">
    </form>
</body>

</html>